# Relative path from the eclipse project in workspace to the "test" directory.
# The Matlab files created for the test will be placed in this directory.
path_to_test_dir = SQP-vs.-Semismooth-Newton/test/

# If Octave is used instead of Matlab.
use_octave = true

# Relative path from "test" directory to the directory "data".
path_to_data_dir = test-populator/src/data/

# XML files defining the functions and the problems.
functions_xml_file = functions.xml
problems_xml_file_0 = problems_u.xml
problems_xml_file_1 = problems.xml

# Tell to use approximate differentiation for all test functions.
# If set to false, only approximate if differentiation not available.
use_approx_diff = false

# Template files name for the test.
# The word "problem" will be replaced with the problem name.
# The numbers at the end of the variable names are to be kept in the right order.
test_template_file_name_0 = test_problem
test_template_file_name_1 = test_problem_100_times
test_template_file_name_2 = test_problem_with_fmincon_too
test_template_file_name_3 = test_problem_with_sqp_octave_too

# The extension of the template file (i.e. the file type is ".tpl").
template_file_extension = .tpl

# The prefix for the name of the main test files.
# The main test file calls all test problems.
prefix_for_main_test_file = test_all
