# Relative path from the eclipse project in workspace to the "test" directory.
# The Matlab files created should be placed in this directory.
path_to_test_dir = ../../SQP-vs.-Semismooth-Newton/test/

# To be used in grafix.math.tu-berlin.de (another directories tree):
#path_to_test_dir = ../../minimix/SQP-vs.-Semismooth-Newton/test/

# If Octave is used instead of Matlab.
use_octave = true

# Relative path from "test" directory to the directory "data".
path_to_data_dir = test-populator/src/data/

# XML files defining the functions and the problems
functions_xml_file = functions.xml
problems_xml_file = problems.xml

# Tell to use approximate differentiation for all test functions.
# If set to false, only approximate if differentiation not available.
use_approx_diff = false

# Template files name for the test (the file type is ".tpl").
# The word "problem" will be replaced with the problem name.
test_template_file_name_0 = test_problem
test_template_file_name_1 = test_problem_100_times
test_template_file_name_2 = test_problem_with_fmincon_too

# The prefix for the name of the main test files
prefix_for_main_test_file = test_all
