# Relative path from the eclipse project in workspace to the "test" directory.
# The Matlab files created should be placed in this directory.
path_to_test_dir = ../../SQP-vs.-Semismooth-Newton/test/

# To be used in grafix.math.tu-berlin.de (another directories tree):
#path_to_test_dir = ../../minimix/SQP-vs.-Semismooth-Newton/test/

# If Octave is used instead of Matlab.
use_octave = true

# Relative path from "test" directory to the directory "data".
path_to_data_dir = test-populator/src/data/

functions_xml_file = functions.xml
problems_xml_file = problems.xml

# Tell to use approximate differentiation for all test functions.
# If set to false, only approximate if differentiation not available.
use_approx_diff = false

test_template_file = test.tpl
